
{% extends "base.html.twig" %}


{% block body %}
<div class="jumbotron">
    <h1>Current HHVM Support</h1>

    <p class="lead">
        Number of Composer Packages that are hosted on Github and tested via Travis-CI with HHVM.
    </p>

    <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: {{ stats.supported_percent }}%;">
            <span>
                <a href="{{ path('h4cc_hhvm_progress_packages_supporting') }}">
                    {{ stats.supported }}
                </a>
            </span>
        </div>
        <div class="progress-bar progress-bar-warning"
             style="width: {{ stats.allowed_failure_percent }}%;">
            <span>
                <a href="{{ path('h4cc_hhvm_progress_packages_allowed_failure') }}">
                    {{ stats.allowed_failure }}
                </a>
            </span>
        </div>
        <div class="progress-bar progress-bar-danger"
             style="width: {{ stats.not_supported_percent }}%;">
            <span>
                <a href="{{ path('h4cc_hhvm_progress_packages_needing_help') }}">
                    {{ stats.not_supported }}
                </a>
            </span>
        </div>
    </div>

    <p class="lead">
        Green is <span class="hhvm_supported">tested against HHVM</span>, orange is <span class="hhvm_allowed_failure">partially tested against HHVM</span> and red is <span class="hhvm_not_supported">not using HHVM</span> to run their tests.
    </p>
</div>

    {{ include('h4ccHHVMProgressBundle:includes:menu_hhvm_support.html.twig') }}

    <div>
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <a href="{{ path('h4cc_hhvm_progress_composer_form') }}" class="alert-link">Upload your composer.lock and see if your dependencies are tested with HHVM!</a>
        </div>
    </div>

    <div>
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <a href="{{ path('h4cc_hhvm_progress_graphs_list') }}" class="alert-link">
                See HHVM support in major frameworks.
            </a>
        </div>
    </div>

{% endblock %}