{% extends "base.html.twig" %}

{% block page_title %}{{ name }} versions and HHVM testing - {{ parent() }}{% endblock %}

{% block body %}

    {{ include('h4ccHHVMProgressBundle:includes:menu_hhvm_support.html.twig') }}

    <!-- A hidden table as a html template for the badge popover -->
    <div id="badge-urls" class="hide">
        <table class="table" style="margin-top:10px;">
            <tr>
                <td style="line-height:30px;">Image URL</td>
                <td><input style="margin:0;" type="text" value="{badgeUrl}" class="input-xlarge"></td>
            </tr>
            <tr>
                <td style="line-height:30px;">Markdown</td>
                <td><input style="margin:0;" type="text" value="[![{alt}]({badgeUrl})]({siteUrl})" class="input-xlarge">
                </td>
            </tr>
            <tr>
                <td style="line-height:30px;">Textile</td>
                <td><input style="margin:0;" type="text" value="!{badgeUrl}!:{siteUrl}" class="input-xlarge"></td>
            </tr>
            <tr>
                <td style="line-height:30px;">RDOC</td>
                <td><input style="margin:0;" type="text"
                           value="{<img src=&quot;{badgeUrl}&quot; alt=&quot;{alt}&quot; />}[{siteUrl}]"
                           class="input-xlarge"></td>
            </tr>
            <tr>
                <td style="line-height:30px;">AsciiDoc</td>
                <td><input style="margin:0;" type="text"
                           value="image:{badgeUrl}[&quot;{alt}&quot;, link=&quot;{siteUrl}&quot;]" class="input-xlarge">
                </td>
            </tr>
            <tr>
                <td>
                    <b>Style: </b>
                </td>
                <td>
                    <select id="badge-select-style">
                        <option value="plastic" selected="selected">Plastic</option>
                        <option value="flat">Flat</option>
                        <option value="flat-square">Flat-Square</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Format: </b>
                </td>
                <td>
                    <select id="badge-select-format">
                        <option value="svg" selected="selected">SVG</option>
                        <option value="png">PNG</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div class="well well-sm pull-right" style="width: 90px;">
        <a href="#" id="badge-popover"
           data-alt="HHVM Status"
           data-badge-url-png="{{ site_url }}{{ path('h4cc_hhvm_progress_badges_show', {"name": name, "type": "png"}) }}"
           data-badge-url-svg="{{ site_url }}{{ path('h4cc_hhvm_progress_badges_show', {"name": name, "type": "svg"}) }}"
           data-site-url="{{ site_url }}{{ path('h4cc_hhvm_progress_packages_show', {"name": name}) }}">
            Badges <span class="glyphicon glyphicon-info-sign"></span>
        </a>
    </div>

    <h1>Package {{ name }}</h1>

    <p>More about this package on <a href="https://packagist.org/packages/{{ name }}">Packagist</a></p>

    {% if package %}
        {% if versions %}
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Version</th>
                    <th>HHVM&nbsp;Support</th>
                </tr>
                {% for version in versions %}
                    {% set travis = version.travisContent %}
                    <tr class="{% if travis.hhvmStatus == 1 %}danger{% endif %}{% if travis.hhvmStatus == 2 %}warning{% endif %}{% if travis.hhvmStatus == 3 %}success{% endif %}">
                        <td>{{ package.name }}</td>
                        <td>{{ package.type }}</td>
                        <td>{{ version.version }}</td>
                        <td>
                            {% if travis.hhvmStatus == 0 %}Unknown{% endif %}
                            {% if travis.hhvmStatus == 1 %}Not&nbsp;tested{% endif %}
                            {% if travis.hhvmStatus == 2 %}<a
                                href="{{ path('h4cc_hhvm_progress_packages_allowed_failure') }}">
                                    Partially&nbsp;tested</a>{% endif %}
                            {% if travis.hhvmStatus == 3 %}<a
                                href="{{ path('h4cc_hhvm_progress_packages_supporting') }}">Tested</a>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No versions found :(</p>
        {% endif %}
    {% endif %}

    <p>
        Refresh this page:
        <span id="icon_refresh" class="glyphicon glyphicon-refresh"></span>
        <span id="icon_wait" style="display: none;" class="glyphicon glyphicon-time"></span>
    </p>

{% endblock %}


{% block javascripts %}

    <script language="javascript" type="text/javascript">

        var badgeFormat = 'svg';
        var badgeStyle = 'plastic';

        $(document).ready(function () {

            $('#badge-popover').each(function () {

                var that = this;
                var badgeUrl = $(that).data('badge-url-svg');
                var siteUrl = $(that).data('site-url');
                var alt = $(that).data('alt');

                var popoverRegister = function () {
                    $(that).popover('destroy');
                    $(that).popover({
                        html: true,
                        content: popoverContent(),
                        placement: 'left',
                        title: alt + '@dev-master - <img src="' + badgeUrl + '" alt="' + alt + '">',
                        animation: false
                    });
                };

                var popoverContent = function () {

                    siteUrl = $(that).data('site-url');
                    alt = $(that).data('alt');

                    if (badgeFormat == 'png') {
                        badgeUrl = $(that).data('badge-url-png');
                    } else {
                        badgeUrl = $(that).data('badge-url-svg');
                    }

                    if (badgeStyle != 'plastic') {
                        badgeUrl = badgeUrl.concat('?style=' + badgeStyle);
                    }

                    var contentHtml = $('#badge-urls').html()
                            .replace(/\{badgeUrl\}/g, badgeUrl)
                            .replace(/\{alt\}/g, alt)
                            .replace(/\{siteUrl\}/g, siteUrl);
                    var content = $.parseHTML(contentHtml);

                    $('#badge-select-format option[value="' + badgeFormat + '"]', content).attr("selected", "selected");
                    $('#badge-select-format', content).change(function () {
                        badgeFormat = (this.value != 'svg') ? this.value : 'svg';
                        popoverRegister();
                        $(that).popover('show');
                    });

                    $('#badge-select-style option[value="' + badgeStyle + '"]', content).attr("selected", "selected");
                    $('#badge-select-style', content).change(function () {
                        badgeStyle = (this.value != 'plastic') ? this.value : 'plastic';
                        popoverRegister();
                        $(that).popover('show');
                    });

                    return content;
                };

                popoverRegister();

                $(this).click(function (e) {
                    e.preventDefault();
                });
            });

            $('#icon_refresh').click(function () {
                $('#icon_refresh').toggle(0);
                $('#icon_wait').toggle(0);

                $.ajax({
                    type: 'GET',
                    url: '{{ path('h4cc_hhvm_progress_packages_api_update', {"name": name}) }}'
                }).done(function () {
                    // Reload current page
                    $.ajax({
                        url: "",
                        context: document.body,
                        success: function (s) {
                            $(this).html(s);
                        }
                    });
                });
            });
        })
        ;
    </script>

{% endblock %}