
{% extends "base.html.twig" %}

{% block body %}

    {{ include('h4ccHHVMProgressBundle:includes:menu_hhvm_support.html.twig') }}

    <!-- A hidden table as a html template for the badge popover -->
    <div id="badge-urls" class="hide">
        <table class="table" style="margin-top:10px;">
            <tr>
                <td style="line-height:30px;">Image URL</td>
                <td><input style="margin:0;" type="text" value="{badgeUrl}" class="input-xlarge"></td>
            </tr>
            <tr>
                <td style="line-height:30px;">Markdown</td>
                <td><input style="margin:0;" type="text" value="[![{alt}]({badgeUrl})]({siteUrl})" class="input-xlarge"></td>
            </tr>
            <tr>
                <td style="line-height:30px;">Textile</td>
                <td><input style="margin:0;" type="text" value="!{badgeUrl}!:{siteUrl}" class="input-xlarge"></td>
            </tr>
            <tr>
                <td style="line-height:30px;">RDOC</td>
                <td><input style="margin:0;" type="text" value="{<img src=&quot;{badgeUrl}&quot; alt=&quot;{alt}&quot; />}[{siteUrl}]" class="input-xlarge"></td>
            </tr>
            <tr>
                <td style="line-height:30px;">AsciiDoc</td>
                <td><input style="margin:0;" type="text" value="image:{badgeUrl}[&quot;{alt}&quot;, link=&quot;{siteUrl}&quot;]" class="input-xlarge"></td>
            </tr>
        </table>
    </div>

    <div class="well well-sm pull-right" style="width: 90px;">
        <a href="#" id="badge-popover"
           data-alt="{{ name }}"
           data-badge-url="{{ url('h4cc_hhvm_progress_badges_show', {"name": name}) }}"
           data-site-url="{{ url('h4cc_hhvm_progress_packages_show', {"name": name}) }}">
            Badges <span class="glyphicon glyphicon-info-sign"></span>
            </a>
    </div>

    <h1>Package {{ name }}</h1>

    <p>More about this package on <a href="https://packagist.org/packages/{{ name }}">Packagist</a></p>

    {% if versions %}
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Version</th>
            <th>HHVM&nbsp;Support</th>
        </tr>
    {% for version in versions %}
        <tr class="
        {% if version.hhvmStatus == 1 %}danger{% endif %}
        {% if version.hhvmStatus == 2 %}warning{% endif %}
        {% if version.hhvmStatus == 3 %}success{% endif %}
        ">
            <td>{{ version.name }}</td>
            <td>{{ version.type }}</td>
            <td>{{ version.version|replace({'9999999.9999999-dev': 'x-dev'})|replace({'9999999-dev': 'dev-master'}) }}</td>
            <td>
                {% if version.hhvmStatus == 1 %}Not&nbsp;supported{% endif %}
                {% if version.hhvmStatus == 2 %}<a href="{{ path('h4cc_hhvm_progress_packages_allowed_failure') }}">
                        Tested&nbsp;as allowed&nbsp;failure
                    </a>
                {% endif %}
                {% if version.hhvmStatus == 3 %}<a href="{{ path('h4cc_hhvm_progress_packages_supporting') }}">
                        Supported
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <p>No versions found :(</p>
    {% endif %}

{% endblock %}


{% block javascripts %}

    <script language="javascript" type="text/javascript">
        $(document).ready(function() {
            $('#badge-popover').each(function() {
                var badgeUrl = $(this).data('badge-url');
                var siteUrl = $(this).data('site-url');
                var alt = $(this).data('alt');
                var html = $('#badge-urls').html().replace(/\{badgeUrl\}/g, badgeUrl).replace(/\{alt\}/g, alt).replace(/\{siteUrl\}/g, siteUrl);

                $(this).popover({
                    html: true,
                    content: html,
                    placement: 'left',
                    title: alt + '@dev-master - <img src="' + badgeUrl + '" alt="' + alt + '">'
                });

                $(this).click(function(e) {
                    e.preventDefault();
                });
            });
        });
    </script>

{% endblock %}