{% extends "base.html.twig" %}

{% block page_title %}{{ name }} versions and HHVM testing - {{ parent() }}{% endblock %}

{% block body %}

    {{ include('h4ccHHVMProgressBundle:includes:menu_hhvm_support.html.twig') }}

    <!-- A hidden table as a html template for the badge popover -->
    <div id="badge-urls" class="hide">
        <table class="table" style="margin-top:10px;">
            <tr>
                <td style="line-height:30px;">Image URL</td>
                <td><input style="margin:0;" type="text" value="{badgeUrl}" class="input-xlarge"></td>
            </tr>
            <tr>
                <td style="line-height:30px;">Markdown</td>
                <td><input style="margin:0;" type="text" value="[![{alt}]({badgeUrl})]({siteUrl})" class="input-xlarge">
                </td>
            </tr>
            <tr>
                <td style="line-height:30px;">Textile</td>
                <td><input style="margin:0;" type="text" value="!{badgeUrl}!:{siteUrl}" class="input-xlarge"></td>
            </tr>
            <tr>
                <td style="line-height:30px;">RDOC</td>
                <td><input style="margin:0;" type="text"
                           value="{<img src=&quot;{badgeUrl}&quot; alt=&quot;{alt}&quot; />}[{siteUrl}]"
                           class="input-xlarge"></td>
            </tr>
            <tr>
                <td style="line-height:30px;">AsciiDoc</td>
                <td><input style="margin:0;" type="text"
                           value="image:{badgeUrl}[&quot;{alt}&quot;, link=&quot;{siteUrl}&quot;]" class="input-xlarge">
                </td>
            </tr>
        </table>
    </div>

    <div class="well well-sm pull-right" style="width: 90px;">
        <a href="#" id="badge-popover"
           data-alt="HHVM Status"
           data-badge-url="{{ path('h4cc_hhvm_progress_badges_show', {"name": name, "type": "svg"}) }}"
           data-site-url="{{ path('h4cc_hhvm_progress_packages_show', {"name": name}) }}">
            Badges <span class="glyphicon glyphicon-info-sign"></span>
        </a>
    </div>

    <h1>Package {{ name }}</h1>

    <p>More about this package on <a href="https://packagist.org/packages/{{ name }}">Packagist</a></p>

    {% set versions = package.versions %}
    {% if versions %}
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Version</th>
                <th>HHVM&nbsp;Support
                    <span id="icon_refresh" class="pull-right glyphicon glyphicon-refresh"></span>
                    <span id="icon_wait" style="display: none;" class="pull-right glyphicon glyphicon-time"></span>
                </th>
            </tr>
            {% for version in versions %}
                {% set travis = version.travisContent %}
                <tr class="{% if travis.hhvmStatus == 1 %}danger{%
                endif %}{% if travis.hhvmStatus == 2 %}warning{% endif
                %}{% if travis.hhvmStatus == 3 %}success{% endif %}">
                    <td>{{ package.name }}</td>
                    <td>{{ package.type }}</td>
                    <td>{{ version.version }}</td>
                    <td>
                        {% if travis.hhvmStatus == 1 %}Not&nbsp;tested{% endif %}
                        {% if travis.hhvmStatus == 2 %}<a href="{{ path('h4cc_hhvm_progress_packages_allowed_failure') }}">Partially&nbsp;tested</a>{% endif %}
                        {% if travis.hhvmStatus == 3 %}<a href="{{ path('h4cc_hhvm_progress_packages_supporting') }}">Tested</a>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No versions found :(</p>
    {% endif %}

{% endblock %}


{% block javascripts %}

    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('#badge-popover').each(function () {
                var badgeUrl = $(this).data('badge-url');
                var siteUrl = $(this).data('site-url');
                var alt = $(this).data('alt');
                var html = $('#badge-urls').html().replace(/\{badgeUrl\}/g, badgeUrl).replace(/\{alt\}/g, alt).replace(/\{siteUrl\}/g, siteUrl);

                $(this).popover({
                    html: true,
                    content: html,
                    placement: 'left',
                    title: alt + '@dev-master - <img src="' + badgeUrl + '" alt="' + alt + '">'
                });

                $(this).click(function (e) {
                    e.preventDefault();
                });
            });

            $('#icon_refresh').click(function () {
                $('#icon_refresh').toggle(0);
                $('#icon_wait').toggle(0);

                $.ajax({
                    type: 'GET',
                    url: '{{ path('h4cc_hhvm_progress_packages_api_update', {"name": name}) }}'
                }).done(function() {
                    // Reload current page
                    $.ajax({
                        url: "",
                        context: document.body,
                        success: function(s){
                            $(this).html(s);
                        }
                    });
                });
            });
        })
        ;
    </script>

{% endblock %}